In [2]:
from pandas import Series

### An introduction to series
It seems like right off the bat, series have similar behaviors to python dictionaries, and may have behavior similar to what you would like in a spreadsheet. We'll see what develops from here.

In [21]:
animals = Series([3, 1, 20, 11], index=["Cats", "Dogs", "Fishes", "Chickens"])
animals

Cats         3
Dogs         1
Fishes      20
Chickens    11
dtype: int64

If you don't have these index labels, they will default to numbers. We can access them as you would a dict, and can covert Series into dictionaries and vice-versa.

In [5]:
print animals["Cats"], animals["Chickens"]

3 11

In [7]:
type(animals)

pandas.core.series.Series

In [10]:
animal_dict = animals.to_dict()
animal_dict

{'Cats': 3, 'Chickens': 11, 'Dogs': 1, 'Fishes': 20}

In [11]:
type(animal_dict)

dict

In [12]:
print animal_dict["Cats"], animal_dict["Chickens"]

3 11

In [13]:
animals2 = Series(animal_dict)
animals2

Cats         3
Chickens    11
Dogs         1
Fishes      20
dtype: int64

In [14]:
type(animals2)

pandas.core.series.Series

Let's set some names like you would give headings to data in Excel

In [16]:
animals.name = "The Chen house plus cats"
animals

Cats         3
Dogs         1
Fishes      20
Chickens    11
Name: The Chen house plus cats, dtype: int64

In [20]:
animals.index.name = "Animals"
animals

Animals
Cats         3
Dogs         1
Fishes      20
Chickens    11
Name: The Chen house plus cats, dtype: int64